@import url(http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic);


/* http://kuler.adobe.com/#themeID/230215 */

/* color scheme

blue		- 445a6a
red 		- ff625a
blue thin	- e5edeb
blue light	- c2d1d3
blue dark	- 2d3e4b

#e4edea


*/

html {
-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
background: #202122 url(neverland.jpg) center center no-repeat fixed;
background-size: cover;
color: #424344;
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size: 13px;
text-rendering: optimizeLegibility;
}

* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

#wrap {
width: 500px;
margin: 0 auto;
}

h1 {
font-size: 54px;
font-weight: 100;
margin-top: 18px;
margin-bottom: 18px;
color: #ecedee;
white-space: nowrap;
overflow: hidden;
text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.main {
background-color: #ecedee;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.intro {
background-color: #fff;
padding: 15px 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: #e43 2px solid;
font-size: 18px;
}

.entry {
padding: 15px 20px 10px 20px;
}

.odd {
background-color: #dbdcdd;
}

.entry h3 {
font-size: 18px;
font-weight: normal;
margin-bottom: 10px;
}

.entry p {
margin-bottom: 5px;
}

.entry p span {
opacity: 0.8;
}

.entry a {
color: #e43;
}

.foot {
padding: 15px 20px 7px 20px;
color: #dbdcdd;
font-size: 12px;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.foot p {
opacity: 0.5;
margin-bottom: 8px;
}

.foot a {
color: #cdf;
}

.foot p.logo {
opacity: 1;
padding-top: 8px;
text-align: center;
}

@media (max-width: 625px) {
#wrap { width: 80%; }
}

@media (max-width: 320px) {
#wrap { width: 290px; }
h1 span { display: none; }
}
