@import url(http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic);


/* http://kuler.adobe.com/#themeID/230215 */

/* color scheme

blue		- 445a6a
red 		- ff625a
blue thin	- e5edeb
blue light	- c2d1d3
blue dark	- 2d3e4b

#e4edea


*/

html {
-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
background-color: #2d3e4b;
color: #445a6a;
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size: 14px;
text-rendering: optimizeLegibility;
}

* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

#wrap {
width: 500px;
margin: 0 auto;
}

h1 {
font-size: 72px;
font-weight: 100;
margin-top: 18px;
margin-bottom: 18px;
color: #e5edeb;
white-space: nowrap;
overflow: hidden;
}

h1 span {
font-size: 24px;
color: #445a6a;
}

h1 a {
color: #445a6a;
}

.intro {
background-color: #fff;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 15px 20px;
border-bottom: #ff625a 2px solid;
font-size: 20px;
}

.main {
background-color: #e4edea;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.entry {
padding: 15px 20px 10px 20px;
}

.odd {
background-color: #c2d1d3;
}

.entry h3 {
font-size: 20px;
font-weight: normal;
margin-bottom: 10px;
}

.entry h3 span {
background-color: #2d3e4b;
border-radius: 3px;
padding: 1px 3px;
color: #fff;
font-size: 10px;
vertical-align: super;
text-transform: uppercase;
opacity: 0.4;
}

.entry p {
margin-bottom: 5px;
}

.entry p span {
opacity: 0.8;
}

.entry a {
color: #ff625a;
}

.foot {
padding: 15px 20px;
margin-bottom: 10px;
color: #ddd;
opacity: 0.5;
font-size: 12px;
}

.foot p {
margin-bottom: 8px;
}

.foot a {
color: #def;
}

@media (max-width: 625px) {
#wrap { width: 80%; }
}

@media (max-width: 320px) {
#wrap { width: 290px; }
h1 span { display: none; }
}
