@import url(http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic);

html {
height: 100%;
-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
background: #000 url(blur.jpg) center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #fff;
text-shadow: 0 2px 2px rgba(0,0,0,.4);
height: 100%;
margin: 0;
padding: 0;
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size: 16px;
}

* {
margin: 0;
padding: 0;
}

#wrap {
position: absolute;
width: 320px;
top: 50%;
left: 50%;
margin-top: -120px;
margin-left: -160px;
-webkit-animation: pop 1s ease;
-moz-animation: pop 1s ease;
}

h1 {
font-size: 72px;
font-weight: 100;
margin-bottom: 18px;
}

p {
margin-bottom: 8px;
}

a {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
color: #fff;
text-decoration: none;
}

.social {
padding-top: 10px;
}

.social a {
display: block;
background-color: rgba(75,214,255,.8);
border-radius: 10px;
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
}

.social a:hover {
background-color: rgba(75,214,255,1);
}

.a0 {
-webkit-animation: ghost 1s ease;
-webkit-animation-fill-mode: both;
-moz-animation: ghost 1s ease;
-moz-animation-fill-mode: both;
animation: ghost 1s ease;
animation-fill-mode: both;
position: relative;
}

.a1 {
-webkit-animation: ghost 1s 1s ease;
-webkit-animation-fill-mode: both;
-moz-animation: ghost 1s 1s ease;
-moz-animation-fill-mode: both;
animation: ghost 1s 1s ease;
animation-fill-mode: both;
position: relative;
}

.a2 {
-webkit-animation: ghost 1s 2s ease;
-webkit-animation-fill-mode: both;
-moz-animation: ghost 1s 2s ease;
-moz-animation-fill-mode: both;
animation: ghost 1s 2s ease;
animation-fill-mode: both;
position: relative;
}

.a3 {
-webkit-animation: ghost 1s 3s ease;
-webkit-animation-fill-mode: both;
-moz-animation: ghost 1s 3s ease;
-moz-animation-fill-mode: both;
animation: ghost 1s 3s ease;
animation-fill-mode: both;
position: relative;
}

@media (max-width: 360px) {

#wrap {
width: 280px;
margin-top: -140px;
margin-left: -140px;
}

}

@-webkit-keyframes ghost {
	0% {
		top: 20px;
		opacity: 0;
	}	
	100% {
		top: 0;
		opacity: 1;
	}
}

@-moz-keyframes ghost {
	0% {
		top: 20px;
		opacity: 0;
	}	
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes ghost {
	0% {
		top: 20px;
		opacity: 0;
	}	
	100% {
		top: 0;
		opacity: 1;
	}
}