* {
    margin: 0;
    padding: 0;
}

html {
    --white: #fff;
    --whitesmoke: #f0f0f0;
    --gainsboro: #e0e0e0;
    --silver: #c0c0c0;
    --gray: #808080;
    --black: #000;
}

@media (prefers-color-scheme: dark) {
    html {
        --white: #000;
        --whitesmoke: #202020;
        --gainsboro: #404040;
        --silver: #808080;
        --gray: #c0c0c0;
        --black: #fff;
    }
}

body {
    background-color: var(--gainsboro);
    color: var(--black);
    font-family: "Route 159", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s;
}

img {
    display: block;
}

ul {
    list-style: none;
}

h1 {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 30px;
}

sup {
    font-size: 10px;
    line-height: 0;
}

.container {
    display: grid;
    grid-template-columns: calc(50% - 360px) 480px 240px calc(50% - 360px);
}

.leftside {
    background-color: var(--white);
}

.rightside {
    background-color: var(--whitesmoke);
}

.main {
    background-color: var(--white);
    padding: 20px;
}

.main h1 {
    margin: 10px 0;
}

.footer {
    color: var(--gray);
}

.entry {
    border-bottom: var(--whitesmoke) 1px solid;
    margin: 0 -20px;
    margin-bottom: 10px;
    padding: 0 20px;
    padding-bottom: 10px;
}

.entry:last-child {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.entry .small {
    color: var(--gray);
}

.sidebar {
    background-color: var(--whitesmoke);
    padding: 20px;
}

.sidebar ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar ul a:hover {
    color: var(--gray);
}

.sidebar ul li:first-child h4 {
    padding-top: 0;
}

.sidebar ul h4 {
    padding-top: 10px;
}

.article a {
    text-decoration: underline;
}

.article h4 {
    margin-bottom: 10px;
}

.article p {
    margin-bottom: 10px;
}

.article img {
    width: calc(100% + 40px);
    height: auto;
    margin: 0 -20px
}

.article ul, .article ol {
    margin-bottom: 10px;
    padding-left: 30px;
}

.article ul {
    list-style: square;
}

.article blockquote {
    background-color: var(--gainsboro);
    color: var(--black);
    margin: 0 -20px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.article blockquote p {
    margin-bottom: 0;
}

.article pre {
    background-color: var(--gray);
    white-space: pre-wrap;
    padding: 10px 20px;
    margin: 0 -20px;
    margin-bottom: 10px;
}

.article pre code {
    font-family: "Hack", monospace;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
}

@media (max-width: 720px) {
    .container {
        grid-template-columns: 0 calc(100% / 3 * 2) calc(100% / 3) 0;
    }
}

@media (max-width: 540px) {
    .container {
        grid-template-columns: 0 100% 0 0;
    }
    .sidebar {
        display: none;
    }
}

@font-face {
    font-family: "Route 159";
    font-style: normal;
    font-weight: normal;
    src: url(/static/route159/regular.woff2) format("woff2");
}

@font-face {
    font-family: "Route 159";
    font-style: normal;
    font-weight: bold;
    src: url(/static/route159/bold.woff2) format("woff2");
}

@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: normal;
    src: url(/static/hack/regular.woff2) format("woff2");
}
