<!doctype html>
<html lang="en">
<head>
    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lucian Marin">
    <meta name="description" content="Python developer passionate about all things design. Living and working in Bucharest, Romania.">
    <meta name="google-site-verification" content="pBMINcnwr57iu8-AD1FRSRMqY7tRygOTNDz7w95KVeM">
    <meta name="msvalidate.01" content="1BA7BB6D6BFBDDC7EC2C245C606416EE">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="apple-touch-icon" type="image/png" href="/static/icon.png">
    <link rel="icon" type="image/png" href="/static/icon.png">
    <link rel="alternate" type="application/rss+xml" title="Lucian Marin" href="/feed.rss">
</head>
<body>
<div class="container">
    <div class="leftside"></div>
    <div class="main">
        <h4><a href="{{ site.url}}">Lucian Marin</a></h4>
        <h1><a href="{{ page.url}}">{{ page.title }}</a></h1>
        {% if page.url == "/" %}
            <div class="content">{{ content }}</div>
        {% else %}
            <div class="article">{{ content }}</div>
            <div class="footer">{{ page.date | date: "%B %e, %Y" }}</div>
        {% endif %}
    </div>
    <div class="sidebar">
        {% for post in site.posts %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != next_year %}
                {% if forloop.index != 1 %}</ul>{% endif %}
                <h4>{{ year }}</h4>
                <ul>
            {% endif %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="rightside"></div>
</div>
</body>
</html>
