<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="author" content="Lucian Marin" />
    <meta name="description" content="Lucian is designer passionate about front-end engineering, usability, web and software development. Lucian is living and working as freelancer in Bucharest, Romania." />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="apple-touch-icon" type="image/png" href="/static/icon.png" />
    <link rel="icon" type="image/png" href="/static/icon.png" />
    <link rel="alternate" type="application/rss+xml" title="Lucian Marin" href="/feed.rss" />
</head>

<body>

<header>
    <aside>
        <small>
            {% if page.date %}
                Written {{ page.date | date: "%B %e, %Y" }}
            {% else %}
                Updated {{ site.time | date: "%B %e, %Y" }}
            {% endif %}
        </small>
        <h1>
            <a href="/">{{ page.title }}</a>
        </h1>
    </aside>
</header>

<figure>
    <figcaption></figcaption>
    <figcaption></figcaption>
    <figcaption></figcaption>
    <figcaption></figcaption>
</figure>

<section>
    {{ content }}
</section>

</body>
</html>
